<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
    </Console>

    <RollingFile name="ROLLING" fileName="${sys:logDir}/mesclasses.log" filePattern="${sys:logDir}/mesclasses.log-%i.log">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
        <Policies>
            <SizeBasedTriggeringPolicy size="1 MB"/>
        </Policies>
        <DefaultRolloverStrategy max="10"/>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="debug">
        <AppenderRef ref="Console" />
        <AppenderRef ref="ROLLING" />
    </Root>
  </Loggers>
</Configuration>
