
.titled-pane {
    -fx-text-fill : white;
}

.titled-pane > .title {
    -fx-background-color : 
        linear-gradient(to right,
            #5d4037  0%, #bcaaa4 100%
        ),
        -fx-inner-border,
        linear-gradient(to right,
            #6d4c41 0%, #d7ccc8 100%
        );
    -fx-background-insets: 0, 1, 1;
    -fx-background-radius: 3 3 0 0, 2 2 0 0, 1 1 0 0;
    -fx-padding: 0.3333em 0.75em 0.3333em 0.75em; /* 4 9 4 9 */
}
.titled-pane > .title:hover, .titled-pane:expanded > .title {
    -fx-background-color : linear-gradient(to right,
            #5d4037 0%, #8d6e63 100%
        ),
        -fx-inner-border,
        linear-gradient(to right,
            #5d4037 0%, #bcaaa4 100%
        );
}
